/* Add any CSS you need to this file. */
html {
  scroll-behavior: smooth;
}

@keyframes transitionIn { /* page loading animation. */ 
from {
  opacity: 0;
  transform:rotate(-10px)
  }

to {
  opacity: 1;
  transform:rotate(0);
  }

}

body {
  background-color: 	#F5F5F5;
}

.progress-container {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  width: 100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 8px;
  background: lightcoral;
  width: 0%;
}

p {
  font-family: 'Noto Sans JP', sans-serif; /* custom font */
  text-align: center;
  font-weight: normal;
  font-size: x-large;
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif; /* custom font */
  animation: transitionIn 2s;
  transition: 2s opacity;
}

a {
  text-decoration: none; 
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

h3 {
  font-style: italic;
  text-align: center;
  padding: 0px 0 50px;
  color: lightseagreen;

}

h2 {
  text-align: center;
  font-weight: normal;
  margin: 0;
  padding-top: 50px;

}

h1 {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif; /* custom font */
  font-size: 150px;
  text-align: center;
  font-weight: bolder;
  padding: 50px 0 50px;
  opacity: 1;
  transition: 0.3s;
}

h1:hover {
  opacity: 0.6;
  color: dimgray;
}

.navigation-bar {
  background-color: 		#E8E8E8;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif; /* custom font */
  text-align: center;
  letter-spacing: 4px;
  word-spacing: 80px;

}


.middle-container {
  border-style: solid;
  border-color: 	#E8E8E8;
  background-color: white;
  font-family: 'Noto Sans JP', sans-serif; /* custom font */
  width: 40%;
  height: auto;
  margin: 100px auto 150px auto;

}




.middle-container-images {
  margin: auto;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 150px;

}



.paragraphs {
  padding-bottom: 75px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}





.footer-container {
  background-color: #F0F0F0;
  color: grey;
  font-size: xx-small;
  font-weight: lighter;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-top: 0;

}

/*INFO HTML*/

.info-container {
  padding-top: 100px;
  padding-bottom: 500px;
  font-size: smaller;
}
